header {
    width: 100%;
    height: 100%;
    background-image: url('../img/cover.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-size: 4rem;
    text-shadow: 0 0 20px black;
    font-family: 'Press Start 2P';
}

h2 {
    font-size: 1.3rem;
    text-shadow: 0 0 20px black;
}

form.sign-up {
    display: flex;
    align-items: center;
    width: 80vw;
    max-width: 30rem;
    margin-top: 1rem;
}

input[type="email"] {
    width: 60%;
    margin-bottom: 1rem;
    outline: none;
    border: 0;
    padding: .8rem;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 white;
    text-align: center;
    margin-inline: .5rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

hr {
    width: 100px;
    box-shadow: 0 0 5px 0 white;
}

input[type="submit"],
button {
    width: 40%;
    margin-bottom: 1rem;
    height: 3rem;
    border: 0;
    font-size: 16px;
    padding: .7rem;
    border-radius: 10px;
    margin-inline: .5rem;
    font-weight: bold;
    color: #010b19;
    background-color: #E0CA3C;
    box-shadow: 0 0 5px 0 white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"]:disabled {
    font-weight: bold;
    color: #010b19;
    background-color: lightgrey;
    cursor: not-allowed;
    font-family: 'Montserrat', sans-serif;
}

button {
    margin-top: 1rem;
    width: initial;
    padding-inline: 2rem;
}

#accedi {
    margin-top: 0;
}

#accedi a {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    form.sign-up {
        flex-direction: column;
    }

    form.sign-up>* {
        width: 100%;
    }
}