@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    overflow: hidden;
    outline: none;
    margin: 0;
    user-select: none;
}

body,
canvas {
    background: #010b19;
}

canvas {
    z-index: -1;
    position: absolute;
}