#score-container {
    z-index: 3;
    position: fixed;
    top: 0;
    left: calc(50vw - 4rem);
    width: 50vw;
    height: 3rem;
    margin: 2rem;
    font-family: 'Arial', serif;
    line-height: 1.5rem;
    text-align: right;
    font-size: .7rem;
    font-weight: bold;
    color: rgba(255, 255, 255, .7);
    visibility: hidden;
}

#score {
    z-index: 3;
    font-family: 'Press Start 2P', serif;
    text-align: right;
    font-size: 1.5rem;
    color: white;
}

#start-game-layer {
    z-index: 4;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #010b19dd;
}

#game-over-layer {
    display: none;
    z-index: 4;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #010b19dd;
}

#game-title {
    text-align: center;
    text-shadow: -5px 5px 0px cornflowerblue;
    color: yellow;
    font-size: 2.5rem;
    font-family: 'Press Start 2P', serif;
    letter-spacing: .2rem;
}

#game-over {
    display: none;
    text-align: center;
    text-shadow: -5px 5px 0px cornflowerblue;
    color: yellow;
    font-size: 2.5rem;
    font-family: 'Press Start 2P', serif;
    letter-spacing: .2rem;
}

@keyframes game-start-animation {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(3deg);
    }
    90% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    } 
}

#game-start {
    background: transparent;
    border: 5px solid yellow;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-top: 4rem;
    color: white;
    font-family: 'Press Start 2P', serif;
    font-size: 1rem;
    letter-spacing: .2rem;
    animation: game-start-animation 1s ease-in-out 0s infinite alternate-reverse;
    transition-duration: .5s;
}

#game-return {
    display: none;
    background: transparent;
    border: 5px solid yellow;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-top: 4rem;
    color: white;
    font-family: 'Press Start 2P', serif;
    font-size: 1rem;
    letter-spacing: .2rem;
}

#game-start:hover {
    animation: none;
    color: yellow;
}

#game-return:hover {
    color: yellow;
}