#flame {
    z-index: 1;
    position: absolute;
    filter: hue-rotate(180deg);
    opacity: .9;
    transform: scale(.8);
    visibility: hidden;
}

#player {
    z-index: 2;
    position: absolute;
    visibility: hidden;
}