@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

::-webkit-scrollbar {
    -webkit-appearance: none;
}

* {
    overflow: hidden;
    outline: none;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    font-family: 'Press Start 2P', serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: black;
}

canvas {
    position: absolute;
    position: fixed;
    z-index: 0;
}

#resources {
    display: none;
}

#start-overlay,
#gameover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(1, 11, 25, 0.7);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#gameover-overlay {
    display: none;
}

#start-overlay *,
#gameover-overlay * {
    margin-block: .7rem;
    letter-spacing: .1rem;
    text-align: center;
}

#start-overlay h1,
#gameover-overlay h1 {
    text-shadow: -4px -4px 0px dodgerblue;
    font-size: 2.5rem;
    color: yellow;
}

#start-overlay h2,
#gameover-overlay h2 {
    text-shadow: -4px -4px 0px gray;
    font-size: 1.5rem;
}

@-webkit-keyframes start-game-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    75% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    90% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    100% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}

@keyframes start-game-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    60% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    75% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    90% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    100% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}

#start-overlay #start-game,
#start-overlay #dashboard,
#gameover-overlay #return {
    background-color: transparent;
    border: 5px solid yellow;
    border-radius: 15px;
    padding: 1rem;
    padding-inline: 1.5rem;
    font-size: 1rem;
    margin-top: 1.3rem;
    cursor: pointer;
}

#start-overlay #dashboard {
    border: 5px solid grey;
}

#start-overlay #start-game {
    animation: start-game-animation 2s ease-in-out infinite alternate-reverse;
}

#start-overlay #start-game:hover,
#start-overlay #dashboard:hover,
#gameover-overlay #return:hover {
    color: yellow;
}